a {
  color: var(--ion-color-primary-shade);
  cursor: pointer;
  text-decoration: underline;
}

ion-toolbar {
  --padding-bottom: 0px;
  --padding-top: 0px;
  --min-height: 1px;
}

ion-button {
  --color-hover: var(--ion-color-danger);
}