<ion-content>
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-button (click)="closeModal()">
        <ion-icon  size="large" name="close-circle-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
  <h1 class="ion-text-center">{{ name }}</h1>
  <ion-grid>
    <ion-col size="12">
      <ion-header class="ion-text-center">
        <img src="{{ imageUrl }}">
      </ion-header>
    </ion-col>
    <ion-col size="12">
      <p>{{ description }}</p>
    </ion-col>
    <ion-col size="12">
      <ion-list>
        <ion-list-header lines="inset">
          <ion-label style="font-size: 2vh; font-weight: bold">Degrees & Certifications</ion-label>
        </ion-list-header>
        <ion-item *ngIf="degrees != ''">
          {{ degrees }}
        </ion-item>
        <ion-item *ngIf="certifications != ''">
          {{ certifications }}
        </ion-item>
      </ion-list>
      <ion-list>
        <ion-list-header lines="inset">
          <ion-label style="font-size: 2vh; font-weight: bold">Contact</ion-label>
        </ion-list-header>
        <ion-item>
          Phone: {{ phone }}
        </ion-item>
        <ion-item>
          Email: {{ email }}
        </ion-item>
        <ion-item *ngIf="website !=''">
          Website: {{ website }}
        </ion-item>
      </ion-list>
      <ion-row class="ion-justify-content-center">
        <ion-col class="ion-text-center">
          <a href="{{ facebookUrl }}" target="_blank">
            <ion-icon *ngIf="facebookUrl !=''" 
            name="logo-facebook" style="font-size: 2em;"> </ion-icon>
          </a>
          <a href="{{ instagramUrl }}" target="_blank">
            <ion-icon *ngIf="instagramUrl !=''" 
            name="logo-instagram" style="font-size: 2em;"></ion-icon>
          </a> 
          <a href="{{ twitterUrl }}" target="_blank">
            <ion-icon  *ngIf="twitterUrl !=''" 
            name="logo-twitter" style="font-size: 2em;"></ion-icon>
          </a>
        </ion-col>
      </ion-row>
    </ion-col>
  </ion-grid>
  <ion-toolbar class="ion-text-center">
    <ion-buttons slot="end">
      <ion-button (click)="closeModal()">
        <ion-icon  size="large" name="close-circle-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-content>

