<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>{{ folder }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <!-- <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">{{ folder }}</ion-title>
    </ion-toolbar>
  </ion-header> -->

    <ion-col size="3" class="logo-home">
      <ion-row>
        <img src="../assets/Gravity-Logo-400.png" >
      </ion-row>
    </ion-col>
  <ion-slides [options]="slideOpts" pager="true">
    <ion-slide>
      <div class="slide-text" data-swiper-parallax-scale="0.5">
        <h1 data-swiper-parallax-scale="0.5">Atlanta's First Class Midtown Gym</h1>
      </div>
      <img  data-swiper-parallax-scale="0.5" src="../assets/AaronKenWorkout.jpg" >
    </ion-slide>
    <ion-slide>
      <div class="slide-text" data-swiper-parallax-scale="0.5">
        <h1 data-swiper-parallax-scale="0.5">Atlanta's First Class Midtown Gym</h1>
      </div>
      <img data-swiper-parallax-scale="0.5" src="../assets/GravityBackBlue1.jpg" >
    </ion-slide>
    <ion-slide>
      <div class="slide-text">
        <h1>Atlanta's First Class Midtown Gym</h1>
      </div>
      <img src="../assets/GravityBackBlue2.jpg" >
    </ion-slide>
    <ion-slide>
      <div class="slide-text">
        <h1>Atlanta's First Class Midtown Gym</h1>
      </div>
      <img src="../assets/GravityFrontMaroon1.jpg" >
    </ion-slide>
    <ion-slide>
      <div class="slide-text">
        <h1>Atlanta's First Class Midtown Gym</h1>
      </div>
      <img src="../assets/GravityFrontMaroon2.jpg" >
    </ion-slide>
    <ion-slide>
      <div class="slide-text">
        <h1>Atlanta's First Class Midtown Gym</h1>
      </div>
      <img src="../assets/GravitySideRoom1.jpg" >
    </ion-slide>
  </ion-slides>
  <div id="container">
    <strong class="capitalize">{{ folder }}</strong>
    <p>Explore <a target="_blank" rel="noopener noreferrer" href="https://ionicframework.com/docs/components">UI Components</a></p>
  </div>
</ion-content>
