<ion-row class="ion-justify-content-center ion-margin-top">
  <ion-col class="ion-align-self-center ion-text-center" 
  size-xs="12" size-sm="12" size-md="4" size-lg="4" size-xl="4">
    <img class="logo-footer" src="../../../../assets/Gravity-Logo-Black400.png">
  </ion-col>
  <ion-col class="ion-align-self-center ion-text-center" 
  size-xs="12" size-sm="12" size-md="4" size-lg="4" size-xl="4">
    <h2>Location</h2>
    <p>Gravity Fitness</p>
    <p>2201 Faulkner Road NE</p>
    <p>Atlanta, GA 30324</p>
    <p>Phone: 404-486-0506</p>
  </ion-col>
  <ion-col class="ion-align-self-center ion-text-center" 
  size-xs="12" size-sm="12" size-md="4" size-lg="4" size-xl="4">
    <h2>Hours</h2>
    <h3>Monday - Friday</h3>
    <p>5:00 AM - 8:00 PM</p>
    <h3>Saturday</h3>
    <p>8:00 AM - 4:00 PM</p>
    <h3>Sunday</h3>
    <p>8:00 AM - 4:00 PM</p>
  </ion-col>
</ion-row>