// .logo-footer {
//   height: auto;
//   width: 60%;
// }

.logo-footer {
  position: relative;
  background: rgba(var(--ion-color-primary-rgb), 0.8);
  border-radius: 50%;
  height: auto;
  width: auto;
  margin: 0 20% 0 20%;
  z-index: 10;
}

.logo-footer img {
  display: block;
  margin: auto;
  width: 100%;
}
