<ion-content [fullscreen]="true">
  <ion-grid class="ion-no-padding">
    <ion-row  class="ion-no-padding ion-no-margin">
      <ion-col size="12" class="ion-no-padding ion-no-margin">
        <ion-toolbar>
          <ion-buttons slot="end" class="ion-padding-end">
            <ion-menu-button color="light"></ion-menu-button>
          </ion-buttons>
          <img class="ion-padding" (click)="goHome()"
           src="../../assets/Gravity-Logo-White-Blue75.png"> 
        </ion-toolbar>
        <h1 class="training-title" #trainers><span class="trueno-outline">GYM </span>
          <span class="trueno">TRAINING</span></h1>
        <img src="../../assets/GravityTraining.jpg">
      </ion-col>
      <ion-col size="12" class="ion-padding">
        <h1></h1>
        <p>
          Get the results you deserve by hiring a professional trainer. 
          Your fitness journey is your choice. 
          Find someone to guide you in choosing the best path to maintain and improve your overall health. 
          Some things to consider when searching for your trainer are:
        </p>
        <ul class="ion-text-center">
          <li>
            Strength &amp; Conditioning
          </li>
          <li>
            Cardio
          </li>
          <li>
            Health & Nutrition
          </li>
        </ul>
        <p  class="ion-text-center">
          Start with one or two days out of the week, and then decide what schedule works for you. 
        </p>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col class="ion-margin ion-text-center">
        <h1><span class="trueno-outline">OUR </span>
          <span class="trueno">TRAINERS</span></h1>
          <p>Our dedicated trainers provide many programs for individuals or groups. 
            Qualifications and details can be found by clicking on any individual. 
            <br>Contact a trainer now.</p>
      </ion-col>
    </ion-row>
    <ion-row class="card-container">
      <ion-col *ngFor="let trainer of allTrainers$ | async"
      size-xs="12" size-sm="12" size-md="6" size-lg="6" size-xl="3">
      <ion-card class="trainer-card" (click)="presentTrainerModal(trainer)">
        <img src="{{ trainer.imageUrl }}" >
        <ion-card-title class="trainer-card-title">
          {{ trainer.displayName.firstName + ' ' + trainer.displayName.lastName }}
        </ion-card-title>
      </ion-card>
      </ion-col>
    </ion-row>
    <app-footer></app-footer>
  </ion-grid>
  
</ion-content>
