<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Training</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col>
        <h1 #trainers><span class="trueno-outline">OUR </span>
          <span class="trueno">TRAINERS</span></h1>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Sed ipsa culpa in nulla, repellat accusantium? Commodi ex, temporibus fugiat est impedit veritatis atque odit corporis laborum rerum aut ab eos.
        </p>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-list>
          <ion-item *ngFor="let trainer of allTrainers$ | async">
            <ion-thumbnail>
              <img src="{{ trainer.imageUrl }}">
            </ion-thumbnail>
            <ion-label>
              <p>{{ trainer.displayName.firstName }}</p>
              <p>{{ trainer.displayName.lastName }}</p>
            </ion-label>
          </ion-item>
        </ion-list>
      </ion-col>
    </ion-row>
    <!-- <ion-row class="card-container">
      <ion-col size-xs="12" size-sm="12" size-md="6" size-lg="6" size-xl="3">
        <ion-card>
          <ion-header>
            <ion-card-title>ANDREW JOHNSON</ion-card-title>
          </ion-header>
          <img #training class="training" src="../assets/trainer-andrew-johnson.jpg" >
        </ion-card>
      </ion-col>
      <ion-col size-xs="12" size-sm="12" size-md="6" size-lg="6" size-xl="3">
        <ion-card>
          <ion-header>
            <ion-card-title>DARIO JONES</ion-card-title>
          </ion-header>
          <img #classes class="classes" src="../assets/trainer-dario-jones.jpg" >
        </ion-card>
      </ion-col>
      <ion-col size-xs="12" size-sm="12" size-md="6" size-lg="6" size-xl="3">
        <ion-card>
          <ion-header>
            <ion-card-title>DARREN FLORO-BRYANT</ion-card-title>
          </ion-header>
          <img  src="../assets/trainer-darren-floro-bryant.jpg" >
        </ion-card>
      </ion-col>
      <ion-col size-xs="12" size-sm="12" size-md="6" size-lg="6" size-xl="3">
        <ion-card>
          <ion-header>
            <ion-card-title>DAVID SIGLER</ion-card-title>
          </ion-header>
          <img  src="../assets/trainer-david-sigler.jpg" >
        </ion-card>
      </ion-col>
      <ion-col size-xs="12" size-sm="12" size-md="6" size-lg="6" size-xl="3">
        <ion-card>
          <ion-header>
            <ion-card-title>KYLE KREBS</ion-card-title>
          </ion-header>
          <img  src="../assets/trainer-kyle-krebs.jpg" >
        </ion-card>
      </ion-col>
    </ion-row> -->
  </ion-grid>
  
</ion-content>
