ion-card {
  position: relative;
  text-align: center;
  font-family: 'Trueno Black Outline';
  --background: rgba(3, 6, 161, 0.5);
}

ion-card ion-header {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  background: transparent;
}
ion-card-title {
  font-size: 3.0em;
  width: 100%;
  font-weight: bold;
  color: #fff;
  text-shadow: 3px 3px darkblue;
}

ion-card-subtitle {
  position: absolute;
  top: 52%;
  font-size: 1.0em;
  width: 100%;
  color: #fff;
}

ion-list {
  background: transparent;
}

ion-item {
  --background: rgba(255,255,255, .5);
  --min-height: 10vh;
  --border-style: solid;
  --border-color: rgba(27, 36, 160, 0.7);
}

ion-thumbnail {
  --border-radius: 10px;
}

.list-container {
  background-image: url("/assets/GymBlueRoom1.jpg");
}

.logo-header {
  padding-bottom: 5px;
}

.card-container {
  background: darkblue;
  background-image: url("/assets/GymBlueRoom1.jpg");
}

.trueno {
  font-family: 'Trueno Black';
  font-size: 4vh;
}

.trueno-outline {
  font-family: 'Trueno Black Outline';
  font-size: 4vh;
}
