ion-card {
  position: relative;
  text-align: center;
  font-family: 'Trueno Black Outline';
  --background: rgba(3, 6, 161, 0.5);
}

ion-card ion-header {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  background: transparent;
}
ion-card-title {
  font-size: 3.0em;
  width: 100%;
  font-weight: bold;
  color: #fff;
  text-shadow: 3px 3px darkblue;
}

ion-card-subtitle {
  position: absolute;
  top: 52%;
  font-size: 1.0em;
  width: 100%;
  color: #fff;
}

.logo-header {
  padding-bottom: 5px;
}

.trueno {
  font-family: 'Trueno Black';
  font-size: 4vh;
}

.trueno-outline {
  font-family: 'Trueno Black Outline';
  font-size: 4vh;
}

.card-container {
  background: darkblue;
  background-image: url("/assets/GymBlueRoom1.jpg");
}

// TRAINER CARDS

.trainer-card {
  position: relative;
  text-align: center;
  overflow: hidden;
  font-family: 'Trueno Black Outline';
  --background: rgba(3, 6, 161, 0.5);
}

// .trainer-card .trainer-header {
//   position: absolute;
//   top: 50%;
//   left: 50%;
//   transform: translate(-50%, -50%);
//   text-align: center;
// }

.trainer-card-title {
  position: absolute;
  top: 45%;
  font-size: 3.0em;
  width: 100%;
  font-weight: bold;
  color: #fff;
  text-shadow: 3px 3px darkblue;
}

.trainer-card-subtitle {
  position: absolute;
  top: 60%;
  font-size: 1.0em;
  width: 100%;
  color: #fff;
}

.trainer-card img {
  display: block;
  overflow: hidden;
}
