<ion-header>
  <ion-toolbar class="ion-padding-top ion-padding-start">
    <ion-buttons slot="end" class="">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <img class="logo-header" (click)="goHome()"
    slot="start" src="../../assets/Gravity-Logo-Black75.png">
    <ion-title>Training</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-grid>
    <ion-row>
      <ion-col class="ion-margin ion-text-center">
        <h1 #trainers><span class="trueno-outline">TRAINING </span>
          <span class="trueno">at GRAVITY</span></h1>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Sed ipsa culpa in nulla, repellat accusantium? Commodi ex, temporibus fugiat est impedit veritatis atque odit corporis laborum rerum aut ab eos.
        </p>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col class="ion-margin ion-text-center">
        <h1 #trainers><span class="trueno-outline">OUR </span>
          <span class="trueno">TRAINERS</span></h1>
        <p>
          Scroll through our list of trainers and to find your next mentor. 
          Click the image or swipe left or right for more information.
        </p>
      </ion-col>
    </ion-row>
    <ion-row class="list-container">
      <ion-col class="ion-margin" size-xl="6" offset-xl="3">
        <ion-list>
          <ion-item-sliding *ngFor="let trainer of allTrainers$ | async">
            <ion-item-options side="start">
              <ion-item-option (click)="presentTrainerModal(trainer)" 
              color="tertiary">
                See More
              </ion-item-option>
            </ion-item-options>
            <ion-item lines="full">
              <ion-thumbnail (click)="presentTrainerModal(trainer)" slot="start">
                <img style="display:block; height:auto" src="{{ trainer.imageUrl }}">
              </ion-thumbnail>

                <p style="font-size: 2vh;"><strong>{{ trainer.displayName.firstName }} {{ trainer.displayName.lastName }}
                </strong></p>

            </ion-item>
            <ion-item-options side="end">
              <ion-item-option (click)="callTrainer(trainer.contact.phone)" 
              color="success">
                <ion-icon slot="start" name="call-outline"></ion-icon>
                {{ trainer.contact.phone }}
              </ion-item-option>
            </ion-item-options>
          </ion-item-sliding>
        </ion-list>
      </ion-col>
    </ion-row>
    <app-footer></app-footer>
  </ion-grid>
  
</ion-content>
