<ion-content [fullscreen]="true" [scrollEvents]="true" 
(ionScrollStart)="showFabButton()">
  <ion-fab *ngIf="showFAB" vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="goToTop()">
      <ion-icon name="arrow-up-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>
  <div class="logo-home">
    <img src="../assets/Gravity-Logo-400.png" >
  </div>
<ion-grid class="ion-no-padding">
  <ion-row>
    <ion-col class="slide-container">
      <ion-toolbar>
        <ion-buttons slot="end">
          <ion-menu-button color="light"></ion-menu-button>
        </ion-buttons>
      </ion-toolbar>
      <ion-slides [options]="slideOpts" pager="false">
        <ion-slide>
          <div class="slide-text">
            <span class="trueno-outline">GRAVITY FITNESS</span><br>
            <span class="trueno">ATLANTA'S GYM</span>
          </div>
          <img #mySlideImg1 src="../../assets/GymMaroonRoom2.jpg" >
        </ion-slide>
        <ion-slide>
          <div class="slide-text">
            <span class="trueno-outline">GRAVITY FITNESS</span><br>
            <span class="trueno">MIDTOWN GYM</span>
          </div>
          <img #mySlideImg2 src="../../assets/GymBlueRoom1.jpg" >
        </ion-slide>
        <ion-slide>
          <div class="slide-text">
            <span class="trueno-outline">GRAVITY FITNESS</span><br>
            <span class="trueno">PREMIER GYM</span>
          </div>
          <img #mySlideImg3 src="./../assets/GymBlueRoom2.jpg" >
        </ion-slide>
        <ion-slide>
          <div class="slide-text">
            <span class="trueno-outline">GRAVITY FITNESS</span><br>
            <span class="trueno">COMMUNITY GYM</span>
          </div>
          <img #mySlideImg4 src="../../assets/GravityCardio.jpg" >
        </ion-slide>
      </ion-slides>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
      <hr>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
      <ion-row>
        <ion-col size-xs="12" size-sm="12" size-md="12" size-lg="6" size-xl="6" class="ion-padding">
          <h1 class="ion-text-center"><span class="trueno-outline">WHO</span><br>
            <span class="trueno">WE ARE</span></h1>
            <p>At Gravity, community comes first. We’re a local gym where you’re 
              greeted at the door and we’ll know you by name. We pride ourselves in 
              our inclusive culture and unwavering commitment to make fitness accessible 
              to people of all lifestyles, levels and abilities here in Atlanta. 
              Gravity is a place you can call home.
            </p>
        </ion-col>
        <ion-col size-xs="12" size-sm="12" size-md="12" size-lg="6" size-xl="6" class="ion-padding">
          <h1 class="ion-text-center"><span class="trueno-outline">YOU NAME IT,</span><br>
            <span class="trueno">WE GOT IT</span></h1>
            <ul>
              <li>
                Conveniently located between Midtown and Buckhead
              </li>
              <li>
                Spacious 17,000 sq. foot facility
              </li>
              <li>
                Hammer Strength, Cybex and Rogue equipment
              </li>
              <li>
                Olympic grade free weights, kettlebells, squat racks, battle ropes, cardio deck, studio space and much more
              </li>
              <li>
                Personal training, fitness and nutrition consultation
              </li>
              <li>
                Fresh ‘n Fit Cuisine Meal pick-up
              </li>
              <li>
                Onsite <a (click)="goToHaircut()">Taper Hair Studio</a> and 
                <a (click)="goToMassage()">Atl Bodywork and Massage</a>
              </li>
            </ul>
        </ion-col>
      </ion-row>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
      <hr>
    </ion-col>
  </ion-row>
  <!-- START OF COVID PROTOCOLS -->
  <ion-row>
    <ion-col class="ion-padding">
      <h1 class="ion-text-center"><span class="trueno-outline">COVID </span>
        <span class="trueno">PROTOCOLS</span></h1>
        <p class="ion-text-center">
          <b>During the course of this pandemic, we require everyone to follow these procedures: </b>
        </p>
        <ion-row>
          <ion-col size-md="8" offset-md="2" size-lg="6" offset-lg="3" size-xl="6" offset-xl="4">
            <ol>
              <li>Wear a mask</li>
              <li>Temperature reading upon check-in</li>
              <li>Pickup spray sanitizer bottle to clean machines before and after use</li>
              <li>Reservations required weekdays between 4 - 7 PM</li>
            </ol>
          </ion-col>
        </ion-row>
    </ion-col>
  </ion-row>
  <!-- END OF COVID PROTOCOLS -->
  <!-- BEGINNING OF MENU CARDS -->
  <ion-row class="card-container">
    <ion-col size-xs="12" size-sm="12" size-md="6" size-lg="6" size-xl="3">
        <ion-card class="menu-card" tappable (click)="goToTraining()" (mouseover)="trainingHover()">
          <ion-header class="menu-header">
            <ion-card-title class="menu-card-title">TRAINING</ion-card-title>
          </ion-header>
          <img #training class="training" src="../assets/GravityTraining-1200x900.jpg" >
        </ion-card>
    </ion-col>
    <ion-col size-xs="12" size-sm="12" size-md="6" size-lg="6" size-xl="3">
      <ion-card class="menu-card" tappable (click)="goToClasses()" (mouseover)="classesHover()">
        <ion-header class="menu-header">
          <ion-card-title class="menu-card-title">CLASSES</ion-card-title>
        </ion-header>
        <img #classes class="classes" src="../assets/GravityClasses-1200x900.jpg" >
      </ion-card>
    </ion-col>
    <ion-col size-xs="12" size-sm="12" size-md="6" size-lg="6" size-xl="3">
      <ion-card class="menu-card" tappable (click)="goToMassage()" (mouseover)="massageHover()">
        <ion-header class="menu-header">
          <ion-card-title class="menu-card-title ion-no-wrap">MASSAGE</ion-card-title>
        </ion-header>
        <img #massage class="massage" src="../../assets/Gravity-massage1200x900.jpg" >
      </ion-card>
    </ion-col>
    <ion-col size-xs="12" size-sm="12" size-md="6" size-lg="6" size-xl="3">
      <ion-card class="menu-card" tappable (click)="goToMembership()" (mouseover)="membershipHover()">
        <ion-header class="menu-header">
          <ion-card-title class="menu-card-title ion-text-nowrap">MEMBERSHIP</ion-card-title>
        </ion-header>
        <img #membership class="membership" src="../assets/GravityMembership-1200x900.jpg" >
      </ion-card>
    </ion-col>
  </ion-row>
  <!-- END OF MENU CARDS -->
  <ion-row>
    <ion-col class="welcome-container">
      <ion-row>
        <ion-col size="1">
          <img src="../assets/quoteStart.png">
        </ion-col>
        <ion-col size="10" class="ion-padding">
          <div>
            <strong>Want to be active and improve your body? 
              Gravity Fitness is the perfect fit for you! This Atlanta Midtown gym 
              has a strong community feel like no other. Come find out why so many 
              health-minded people choose this hidden gem as their #1 workout place.  
            </strong>
          </div>
        </ion-col>
        <ion-col size="1" class="ion-align-self-end">
          <img src="../assets/quoteEnd.png">
        </ion-col>
      </ion-row>
    </ion-col>
  </ion-row>
  <ion-row class="welcome-background ion-margin">
    <ion-col size-xs="6" size-sm="6" size-md="6" size-lg="4" size-xl="4" 
    *ngFor="let pic of instagramPhotos">
      <img [src]="pic.url">
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
      <ion-row>
        <ion-col size="12" class="ion-text-center">
          <h1><span class="trueno-outline">VIDEOS </span>
            <span class="trueno">at GRAVITY</span></h1>
            <p>
              Take a look and see why Gravity Fitness should be a part of
              your everyday life!
            </p>
        </ion-col>
      </ion-row>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col class="ion-text-center">
      <video muted playsinline [muted]="'muted'" width="400" height="300" poster="../../assets/videos/GravityHealthCheckIn-poster.png" 
      controls preload="auto">
        <source id="source-video" alt="Check In Procedure at Gravity Fitness" 
        src="https://gravityfitnessatl.com/assets/videos/GravityHealthCheckIn.mp4" type="video/mp4">
        <!-- <img *ngIf="safariBrowser" id="source-img" src="https://gravityfitnessatl.com/assets/videos/GravityHealthCheckIn.mp4" alt="Check In Procedure at Gravity Fitness"> -->
          Video tag is not supported in this browser
      </video>

    </ion-col>
    <ion-col class="ion-text-center">
      <video muted playsinline [muted]="'muted'" width="400" height="300" poster="../../assets/videos/GravityHealthSafety-poster.png" 
      controls preload="auto">
        <source alt="Health and Safety at Gravity Fitness" 
        src="https://gravityfitnessatl.com/assets/videos/GravityHealthSafety.mp4" type="video/mp4">
          Video tag is not supported in this browser
      </video>
    </ion-col>
    <ion-col class="ion-text-center">
      <video muted playsinline [muted]="'muted'" width="400" height="300" poster="../../assets/videos/GravityBattleRope-poster.png" 
      controls preload="auto">
        <source alt="Darren Floro-Bryant shows Battle Rope Techniques" 
        src="https://gravityfitnessatl.com/assets/videos/GravityBattleRope.mp4" type="video/mp4">
          Video tag is not supported in this browser
      </video>
    </ion-col>
  </ion-row>
  <!-- BEGINNING OF TRAINER LIST  --> 
  <!-- <ion-row>
    <ion-col class="ion-text-center">
      <h1 #trainers><span class="trueno-outline">OUR </span>
        <span class="trueno">TRAINERS</span></h1>
        <p>
          Scroll through our list of trainers below to find your next mentor. 
          Click the trainer image for full information, or swipe for contact details.<br>
          For more training information, visit our <a routerLink="/training">Training Page</a>
        </p>
    </ion-col>
  </ion-row>
  <ion-row class="list-container">
    <ion-col class="ion-margin" size-xl="6" offset-xl="3">
      <ion-list>
        <ion-item-sliding *ngFor="let trainer of allTrainers$ | async" (click)="presentTrainerModal(trainer)">
          <ion-item-options side="start">
            <ion-item-option (click)="presentTrainerModal(trainer)" 
            color="tertiary">
              See More
            </ion-item-option>
          </ion-item-options>
          <ion-item lines="full" class="trainer-list">
            <img src="{{ trainer.imageUrl }}">
            <p class="ion-padding-start"><strong>{{ trainer.displayName.firstName }} {{ trainer.displayName.lastName }}
            </strong></p>
          </ion-item>
          <ion-item-options side="end">
            <ion-item-option (click)="callTrainer(trainer.contact.phone)" 
            color="success">
              <ion-icon slot="start" name="call-outline"></ion-icon>
              {{ trainer.contact.phone }}
            </ion-item-option>
          </ion-item-options>
        </ion-item-sliding>
      </ion-list>
    </ion-col>
  </ion-row> -->
  <!-- END OF TRAINER LIST -->
  <ion-col class="ion-padding">
    <h1 class="ion-text-center"><span class="trueno-outline">CONTACT </span>
      <span class="trueno">US</span></h1>
      <p class="ion-text-center ion-padding">
        Do you have any questions or comments? Please use the form below, and we'll get back to you.
      </p>
      <app-contact-form></app-contact-form>
  </ion-col>
  <app-footer></app-footer>
</ion-grid>
</ion-content>
