img {
  height: auto;
}

ion-toolbar {
  --background: transparent;
}

ion-menu-button {
  color: var(--ion-color-primary);
}

ion-fab-button {
  --background: translucent;
  --background-hover-opacity: .5;
  --background-activated-opacity: 1.0;
  --color-hover: var(--ion-color-primary);
  --color-activated: var(--ion-color-primary);
  --border-color: white;
  --border-style: solid;
  --border-width: 2px;
}

.slide-container {
  background: darkblue;
}

.slide-text {
  text-align: center;
  position: absolute;
  top: 60%;
  color: white;
  transform: translate(-50% -50%);
}

.trueno {
  font-family: 'Trueno Black';
  font-size: 4vh;
}

.trueno-outline {
  font-family: 'Trueno Black Outline';
  font-size: 4vh;
}

.logo-home {
  position: absolute;
  background: rgba(3, 6, 161, 0.5);
  border-radius: 50%;
  top: 10%;
  left: 50%;
  width: 25%;
  height: auto;
  transform: translate(-50%, 0%);
  z-index: 10;
}

.logo-home img {
  display: block;
  margin: auto;
  width: 100%;
}

.welcome-background {
  background-image: url("/assets/GymBlueRoom1.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.welcome-container {
  margin: 1em;
  background: rgba(255,255,255, 0.5);
  border-radius: 10px 10px 10px 10px;
  text-align: center;
}

.welcome-container strong {
  color: var(--ion-color-dark);
  font-size: 2em;
  opacity: 1.0;
}

.welcome-container p {
  font-size: 16px;
  line-height: 22px;
  color: #8c8c8c;
  margin: 0;
}

.card-container {
  background: darkblue;
  background-image: url("/assets/GymBlueRoom1.jpg");
}

// MENU CARDS

@media(hover: hover) and (pointer: fine) {
  .menu-card:hover {
    font-family: 'Trueno Black';
    cursor: pointer;
  }
}

.menu-card {
  // position: relative;
  // text-align: center;
  font-family: 'Trueno Black Outline';
  --background: rgba(3, 6, 161, 0.5);
}

.menu-card .menu-header {
  text-align: center;
  background: transparent;
}

.menu-card-title {
  // position: absolute;
  // top: 36%;
  font-size: 3.0em;
  width: 100%;
  font-weight: bold;
  color: #fff;
  text-shadow: 3px 3px darkblue;
}

.menu-card-subtitle {
  // position: absolute;
  // top: 52%;
  font-size: 1.0em;
  width: 100%;
  color: #fff;
}

// TRAINER CARDS

.trainer-card {
  position: relative;
  text-align: center;
  overflow: hidden;
  font-family: 'Trueno Black Outline';
  --background: rgba(3, 6, 161, 0.5);
}

// .trainer-card .trainer-header {
//   position: absolute;
//   top: 50%;
//   left: 50%;
//   transform: translate(-50%, -50%);
//   text-align: center;
// }

.trainer-card-title {
  position: absolute;
  top: 45%;
  font-size: 3.0em;
  width: 100%;
  font-weight: bold;
  color: #fff;
  text-shadow: 3px 3px darkblue;
}

.trainer-card-subtitle {
  position: absolute;
  top: 60%;
  font-size: 1.0em;
  width: 100%;
  color: #fff;
}

.trainer-card img {
  display: block;
  overflow: hidden;
}

// @media(hover: hover) and (pointer: fine) {
//   .my-card:hover {
//     font-family: 'Trueno Black';
//     cursor: pointer;
//   }
// }

// .my-card {
//   margin: 0.5em 0.5em;
//   border-radius: 7px 7px;
//   position: relative;
//   display: flex;
//   justify-content: center;
//   align-items: center;
//   font-family: 'Trueno Black Outline';
//   text-align: center;
//   height: 95%;
//   overflow: hidden;
// }

// .my-card h1{
//   font-size: 3.0em;
//   font-weight: bold;
//   color: #fff;
//   text-shadow: 3px 3px darkblue;
//   z-index: 10;
// }

// .my-card-subtitle {
//   font-size: 1.0em;
//   position: absolute;
//   margin: 0;
//   top: 50%;
//   transform: translate(0, -50%);
//   width: 100%;
//   color: #fff;
//   z-index: 10;
// }

// .my-card-image {
//   position: absolute;
//   display: inline-block;
//   top: 0px;
//   left: 0px;
//   z-index: 5;
// }
