<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Home</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" [scrollEvents]="true" 
(ionScrollStart)="showFabButton()">
  <ion-fab *ngIf="showFAB" vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="goToTop()">
      <ion-icon name="arrow-up-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>
  <div class="logo-home">
    <img src="../assets/Gravity-Logo-400.png" >
  </div>
  <!-- <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">{{ folder }}</ion-title>
    </ion-toolbar>
  </ion-header> -->
<ion-grid class="ion-no-padding">
  <ion-row>
    <ion-col class="slide-container">
      <ion-slides [options]="slideOpts" pager="true">
        <ion-slide>
          <div class="slide-text">
            <span class="trueno-outline">ATLANTA'S PREMIER</span><br>
            <span class="trueno">COMMUNITY GYM</span>
          </div>
          <img src="../assets/GymBlueRoom1.jpg" >
        </ion-slide>
        <ion-slide>
          <div class="slide-text">
            <span class="trueno-outline">ATLANTA'S PREMIER</span><br>
            <span class="trueno">COMMUNITY GYM</span>
          </div>
          <img src="../assets/GymBlueRoom2.jpg" >
        </ion-slide>
        <ion-slide>
          <div class="slide-text">
            <span class="trueno-outline">ATLANTA'S PREMIER</span><br>
            <span class="trueno">COMMUNITY GYM</span>
          </div>
          <img src="../assets/GymMaroonRoom1.jpg" >
        </ion-slide>
        <ion-slide>
          <div class="slide-text">
            <span class="trueno-outline">ATLANTA'S PREMIER</span><br>
            <span class="trueno">COMMUNITY GYM</span>
          </div>
          <img src="../assets/GymMaroonRoom2.jpg" >
        </ion-slide>
      </ion-slides>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
      <hr>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
      <ion-row>
        <ion-col size="12" class="ion-text-center">
          <h1><span class="trueno-outline">WHO </span>
            <span class="trueno">WE ARE</span></h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique, tenetur quo nesciunt quidem consequuntur excepturi facilis error? Temporibus eaque tenetur vero nulla totam vel veniam aspernatur, nisi soluta quos laborum.
            </p>
        </ion-col>
      </ion-row>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
      <hr>
    </ion-col>
  </ion-row>
  <!-- BEGINNING OF MENU CARDS -->
  <ion-row class="card-container">
    <ion-col size-xs="12" size-sm="12" size-md="6" size-lg="6" size-xl="3">
        <ion-card class="menu-card" tappable (click)="goToTraining()" (mouseover)="trainingHover()">
          <ion-header class="menu-header">
            <ion-card-title class="menu-card-title">TRAINING</ion-card-title>
          </ion-header>
          <img #training class="training" src="../assets/AaronKenWorkout.jpg" >
        </ion-card>
    </ion-col>
    <ion-col size-xs="12" size-sm="12" size-md="6" size-lg="6" size-xl="3">
      <ion-card class="menu-card" (mouseover)="classesHover()">
        <ion-header class="menu-header">
          <ion-card-title class="menu-card-title">CLASSES</ion-card-title>
        </ion-header>
        <img #classes class="classes" src="../assets/GravityBackBlue1.jpg" >
      </ion-card>
    </ion-col>
    <ion-col size-xs="12" size-sm="12" size-md="6" size-lg="6" size-xl="3">
      <ion-card class="menu-card">
        <ion-header class="menu-header">
          <ion-card-title class="menu-card-title">MASSAGE</ion-card-title>
        </ion-header>
        <img  src="../assets/GravityFrontMaroon1.jpg" >
      </ion-card>
    </ion-col>
    <ion-col size-xs="12" size-sm="12" size-md="6" size-lg="6" size-xl="3">
      <ion-card class="menu-card">
        <ion-header class="menu-header">
          <ion-card-title class="menu-card-title">MEMBERSHIP</ion-card-title>
        </ion-header>
        <img  src="../assets/GravitySideRoom1.jpg" >
      </ion-card>
    </ion-col>
  </ion-row>
  <!-- END OF MENU CARDS -->
  <ion-row>
    <ion-col class="welcome-container">
      <ion-row>
        <ion-col size="1">
          <img src="../assets/quoteStart.png">
        </ion-col>
        <ion-col size="10" class="ion-padding">
          <div>
            <strong>Want to be active and improve your body? 
              Gravity Fitness is the perfect fit for you! This Atlanta Midtown gym 
              has a strong community feel like no other. Come find out why so many 
              health-minded people choose this hidden gem as their #1 workout place.  
            </strong>
          </div>
        </ion-col>
        <ion-col size="1" class="ion-align-self-end">
          <img src="../assets/quoteEnd.png">
        </ion-col>
      </ion-row>
    </ion-col>
  </ion-row>
  <ion-row class="welcome-background ion-margin">
    <ion-col size-xs="6" size-sm="6" size-md="6" size-lg="4" size-xl="4" 
    *ngFor="let pic of instagramPhotos">
      <img [src]="pic.url">
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col size="12" class="ion-text-center">
      <video [muted]="'muted'" autoplay loop width="400" height="300" controls>
        <source alt="Video by Adailton Batista from Pexels" src="../assets/videos/Treadmill.mp4" type="video/mp4">
          Video tag is not supported in this browser
      </video>
    </ion-col>
  </ion-row>
  <!-- BEGINNING OF TRAINER CARDS  --> 
  <ion-row>
    <ion-col class="ion-text-center">
      <h1 #trainers><span class="trueno-outline">OUR </span>
        <span class="trueno">TRAINERS</span></h1>
        <p>Our dedicated trainers provide many programs for individuals or groups. 
          Contact a trainer now.</p>
    </ion-col>
  </ion-row>
  <ion-row class="card-container">
    <ion-col size-xs="12" size-sm="12" size-md="6" size-lg="6" size-xl="3">
      <ion-card class="trainer-card" (click)="presentTrainerModal()">
        <img src="../assets/trainer-andrew-johnson.jpg" >
        <ion-card-title class="trainer-card-title">Andrew Johnson</ion-card-title>
        <ion-card-subtitle class="trainer-card-subtitle">
          12 stuff
        </ion-card-subtitle>
      </ion-card>
    </ion-col>
    <ion-col size-xs="12" size-sm="12" size-md="6" size-lg="6" size-xl="3">
      <ion-card class="trainer-card">
        <img src="../assets/trainer-dario-jones.jpg" >
        <ion-card-title class="trainer-card-title">DARIO JONES</ion-card-title>
      </ion-card>
    </ion-col>
    <ion-col size-xs="12" size-sm="12" size-md="6" size-lg="6" size-xl="3">
      <ion-card class="trainer-card">
        <ion-header class="trainer-header">
          <ion-card-title class="trainer-card-title">DARREN FLORO-BRYANT</ion-card-title>
        </ion-header>
        <img  src="../assets/trainer-darren-floro-bryant.jpg" >
      </ion-card>
    </ion-col>
    <ion-col size-xs="12" size-sm="12" size-md="6" size-lg="6" size-xl="3">
      <ion-card class="trainer-card">
        <ion-header class="trainer-header">
          <ion-card-title class="trainer-card-title">DAVID SIGLER</ion-card-title>
        </ion-header>
        <img  src="../assets/trainer-david-sigler.jpg" >
      </ion-card>
    </ion-col>
    <ion-col size-xs="12" size-sm="12" size-md="6" size-lg="6" size-xl="3">
      <ion-card class="trainer-card">
        <ion-header class="trainer-header">
          <ion-card-title class="trainer-card-title">KYLE KREBS</ion-card-title>
        </ion-header>
        <img  src="../assets/trainer-kyle-krebs.jpg" >
      </ion-card>
    </ion-col>
    <ion-col *ngFor="let trainer of allTrainers$ | async"
    size-xs="12" size-sm="12" size-md="6" size-lg="6" size-xl="3">
    <ion-card class="trainer-card">
      <img src="{{ trainer.imageUrl }}" >
      <ion-card-title class="trainer-card-title">
        {{ trainer.displayName.firstName + ' ' + trainer.displayName.lastName }}
      </ion-card-title>
    </ion-card>
    </ion-col>
  </ion-row>
  <!-- END OF TRAINER CARDS -->
</ion-grid>
</ion-content>
