<ion-content [fullscreen]="true">
  <ion-grid class="ion-no-padding">
    <ion-row  class="ion-no-padding ion-no-margin">
      <ion-col size="12" class="ion-no-padding ion-no-margin">
        <ion-toolbar>
          <ion-buttons slot="end" class="ion-padding-end">
            <ion-menu-button color="light"></ion-menu-button>
          </ion-buttons>
          <img class="ion-padding" (click)="goHome()"
           src="../../assets/Gravity-Logo-White-Blue75.png"> 
        </ion-toolbar>
        <h1 #membership class="membership-title"><span class="trueno-outline">MEMBERSHIP </span>
          <span class="trueno">at GRAVITY</span></h1>
        <img src="../../assets/GravityMembership.jpg">
      </ion-col>
      <ion-col size="12" class="ion-padding">
        <h1 class="ion-text-center">
          Join now and receive these immediate benefits!
        </h1>
        <ion-row>
          <ion-col class="ion-padding" size-xs="12" size-sm="12" size-md="4" offset-md="4" 
          size-lg="4" offset-lg="4" size-xl="4" offset-xl="4">
          <ul>
            <li>
              Free Parking
            </li>
            <li>
              Use of Weight Equipment and Cardio Machines
            </li>
            <li>
              Locker Rooms with Showers
            </li>
            <li>
              Towel Service
            </li>
          </ul>
          </ion-col>
        </ion-row>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col class="ion-margin ion-text-center">
        <h1><span class="trueno-outline">JOIN </span>
          <span class="trueno">GRAVITY</span></h1>
          <p>Choose from one of the membership packages below. Before signing up, download 
            this form, fill it out, and bring it to our front desk. 
          </p>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size-xs="12" size-sm="12" size-md="4" size-lg="4" size-xl="4">
        <ion-card>
          <div class="logo-membership color-month">
            <img class="logo-img" src="../assets/Gravity-Logo-Black400.png" >
          </div>
          <img src="../../assets/gravity-entrance.jpg">
          <ion-card-header>
            <ion-card-title class="ion-padding-bottom">
              Monthly Membership
            </ion-card-title>
            <div style="height: 1em;" class="color-month"></div>
            <ion-card-subtitle class="ion-padding-top">
              $46.99 (monthly draft)
            </ion-card-subtitle>
          </ion-card-header>
          <ion-card-content>
            Student/Military Discount - $39.99 (with I.D.)
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col size-xs="12" size-sm="12" size-md="4" size-lg="4" size-xl="4">
        <ion-card>
          <div class="logo-membership color-6month">
            <img class="logo-img" src="../assets/Gravity-Logo-Black400.png" >
          </div>
          <img src="../../assets/gravity-entrance.jpg">
          <ion-card-header>
            <ion-card-title class="ion-padding-bottom">
              6 Month Membership
            </ion-card-title>
            <div style="height: 1em;" class="color-6month"></div>
            <ion-card-subtitle class="ion-padding-top">
              $282.00 (paid in full)
            </ion-card-subtitle>
          </ion-card-header>
          <ion-card-content>
            Cancel anytime with 60 day notice.
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col size-xs="12" size-sm="12" size-md="4" size-lg="4" size-xl="4">
        <ion-card>
          <div class="logo-membership color-year-ind">
            <img class="logo-img" src="../assets/Gravity-Logo-Black400.png" >
          </div>
          <img src="../../assets/gravity-entrance.jpg">
          <ion-card-header>
            <ion-card-title class="ion-padding-bottom">
              Yearly Membership - Individual
            </ion-card-title>
            <div style="height: 1em;" class="color-year-ind"></div>
            <ion-card-subtitle class="ion-padding-top">
              $425.00 (paid in full)
            </ion-card-subtitle>
          </ion-card-header>
          <ion-card-content>
            Cancel anytime with 60 day notice.
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col size-xs="12" size-sm="12" 
      size-md="4" offset-md="2" size-lg="4" offset-lg="2" size-xl="4" offset-xl="2">
        <ion-card>
          <div class="logo-membership color-year-couple">
            <img class="logo-img" src="../assets/Gravity-Logo-Black400.png" >
          </div>
          <img src="../../assets/gravity-entrance.jpg">
          <ion-card-header>
            <ion-card-title class="ion-padding-bottom">
              Yearly Membership - Couples
            </ion-card-title>
            <div style="height: 1em;" class="color-year-couple"></div>
            <ion-card-subtitle class="ion-padding-top">
              $750.00 (paid in full)
            </ion-card-subtitle>
          </ion-card-header>
          <ion-card-content>
            Cancel anytime with 60 day notice.
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col size-xs="12" size-sm="12" size-md="4" size-lg="4" size-xl="4">
        <ion-card>
          <div class="logo-membership color-day">
            <img class="logo-img" src="../assets/Gravity-Logo-Black400.png" >
          </div>
          <img src="../../assets/gravity-entrance.jpg">
          <ion-card-header>
            <ion-card-title class="ion-padding-bottom">
              Day Pass
            </ion-card-title>
            <div style="height: 1em;" class="color-day"></div>
            <ion-card-subtitle class="ion-padding-top">
              $15.00
            </ion-card-subtitle>
          </ion-card-header>
          <ion-card-content>
            Amount will be credited towards membership if you sign up 
            within 5 days.
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
    <app-footer class="logo-footer-color"></app-footer>
  </ion-grid>
  
</ion-content>
