ion-toolbar {
  position: fixed;
  --background: transparent;
}

ion-menu-button {
  --background: rgba(var(--ion-color-primary-rgb), 0.55);
}

ion-list {
  border: var(--ion-color-dark) solid 2px;
}

ion-item {
  --color: var(--ion-color-dark);
  --background: var(--ion-item-light);
}

ion-card {
  --background: var(--ion-color-primary-contrast);
}

ion-card-header {
  text-align: center;
}

ion-card-title {
  color: var(ion-color-dark);
  height: 3em;
}

ion-card-subtitle {
  color: var(ion-color-dark);
  font-size: 18px;
  height: 2em;
}

ion-card-content {
  color: var(ion-color-dark);
  text-align: center;
  height: 6em;
}

.logo-header {
  background: var(ion-color-dark);
  border-radius: 50%;
}

.membership-title {
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, 0%);
  text-align: center;
  text-shadow: 3px 3px 2px black;
  color: white;
}

.trueno {
  font-family: 'Trueno Black';
  font-size: 5vh;
}

.trueno-h1 {
  font-family: 'Trueno Black';
  font-size: 10vw;
}

.trueno-outline {
  font-family: 'Trueno Black Outline';
  font-size: 5vh;
}

.trueno-outline-h1 {
  font-family: 'Trueno Black Outline';
  font-size: 10vw;
}

.logo-img {
  display: block;
  margin: auto;
  width: 100%;
}

.logo-membership {
  position: absolute;
  border-radius: 50%;
  top: 2%;
  left: 50%;
  width: 35%;
  height: auto;
  transform: translate(-50%, 0%);
  z-index: 10;
}

.color-month {
  background: rgba(252, 22, 6, 0.8);
  --background: rgba(252, 22, 6, 0.8);
  --color: var(--ion-color-dark);
  --color-hover: var(--ion-color-light);
  --color-focused: var(--ion-color-light);
}

.color-6month {
  background: rgba(248, 142, 4, 0.8);
  --background: rgba(248, 142, 4, 0.8);
  --color: var(--ion-color-dark);
  --color-hover: var(--ion-color-light);
  --color-focused: var(--ion-color-light);
}

.color-year-ind {
  background: rgba(232, 248, 4, 0.8);
  --background: rgba(232, 248, 4, 0.8);
  --color: var(--ion-color-dark);
  --color-hover: var(--ion-color-light);
  --color-focused: var(--ion-color-light);
}

.color-year-couple {
  background: rgba(4, 248, 16, 0.8);
  --background: rgba(4, 248, 16, 0.8);
  --color: var(--ion-color-dark);
  --color-hover: var(--ion-color-light);
  --color-focused: var(--ion-color-light);
}

.color-day {
  background: rgba(4, 8, 248, 0.8);
  --background: rgba(4, 8, 248, 0.8);
  --color: var(--ion-color-dark);
  --color-hover: var(--ion-color-light);
  --color-focused: var(--ion-color-light);
}
