ion-toolbar {
  position: fixed;
  --background: transparent;
}

ion-menu-button {
  --background: rgba(var(--ion-color-primary-rgb), 0.55);
}

ion-card-header {
  text-align: center;
  height: 15em;
}
ion-card-title {
  color: black;
}

ion-card-subtitle {
  color: black;
  font-size: 18px;
}

ion-card-content {
  color: black;
  text-align: center;
  height: 6em;
}

.logo-header {
  background: black;
  border-radius: 50%;
}

.membership-title {
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, 0%);
  text-align: center;
  text-shadow: 5px 5px 2px black;
  color: white;
}

.trueno {
  font-family: 'Trueno Black';
  font-size: 5vh;
}

.trueno-outline {
  font-family: 'Trueno Black Outline';
  font-size: 5vh;
}

.logo-img {
  display: block;
  margin: auto;
  width: 100%;
}

.logo-membership {
  position: absolute;
  border-radius: 50%;
  top: 2%;
  left: 50%;
  width: 35%;
  height: auto;
  transform: translate(-50%, 0%);
  z-index: 10;
}

.color-month {
  background: rgba(252, 22, 6, 0.8);
}

.color-6month {
  background: rgba(248, 142, 4, 0.8);
}

.color-year-ind {
  background: rgba(232, 248, 4, 0.8);
}

.color-year-couple {
  background: rgba(4, 248, 16, 0.8);
}

.color-day {
  background: rgba(4, 8, 248, 0.8);
}
